<div class="form-inline">
	<div class="nested-fields">
		<div class="form-group">
	    	<%= f.text_field :name, input_html: { class: "form-input form-control" }%>
	  	</div>
	  	<%= link_to_remove_association "Remove", f, class: "form-button btn btn-danger" %>
	</div>
</div>